<div class="my-4 overflow-hidden bg-white border round-sm">
  <div class="md:flex md:max-h-96">
    {{if isset .Params "mainimage"}}
    <div class="p-4">
      <a href={{.Params.mainImage}}>
        <img class="md:max-h-72" src={{.Params.mainImage}} />
      </a>
    </div>
    {{end}}
    <div class="px-4 py-2">
      <a href={{.Permalink}}>
        <h1 class="text-3xl font-semibold tracking-wide">{{.Title}}</h1>
      </a>
      <hr class="mt-1">
      <div class="mt-2">
        <p>{{.Params.description}}</p>
      </div>

      <div class="flex justify-center my-2 md:hidden">
        {{ partial "projects/quicklinks" . }}
      </div>
      <div class="hidden mt-4 ml-2 text-blue-600 md:block">
        {{ if isset .Params "github"}}
        <a href={{.Params.github}}>
          <div class="flex items-center">
            <div class="w-6 h-6">
              {{partial "icons/github" .}}
            </div>
            <div class="ml-2 font-mono font-medium tracking-wide hover:underline">
              {{.Params.github}}
            </div>
          </div>
        </a>
        {{ end }}
        {{ if isset .Params "npm"}}
        <a href={{.Params.npm}}>
          <div class="flex items-center mt-2">
            <div class="w-6 h-6">
              {{partial "icons/npm" .}}
            </div>
            <div class="ml-2 font-mono font-medium tracking-wide hover:underline">
              {{.Params.npm}}
            </div>
          </div>
        </a>
        {{ end }}
        {{ if isset .Params "website"}}
        <a href={{.Params.website}}>
          <div class="flex items-center mt-2">
            <div class="w-6 h-6">
              {{partial "icons/web" .}}
            </div>
            <div class="ml-2 font-mono font-medium tracking-wide hover:underline">
              {{.Params.website}}
            </div>
          </div>
        </a>
        {{ end }}

      </div>
    </div>
  </div>
  {{ with .Params.screenshots }}
  <div class="mt-4 ml-4">
    <p class="text-lg font-semibold tracking-wide text-gray-800">Screenshots</p>
    <hr>
  </div>
  <div class="px-4 my-4 overflow-scroll">
    <div class="flex w-max">
      {{range .}}
      <div class="w-64 h-64 mx-4 overflow-hidden rounded-md shadow-md md:w-32 md:h-32 hover:shadow-lg">
        <a href={{.}}>
          <img class="object-cover w-full h-full" src={{.}} />
        </a>
      </div>
      {{end}}
    </div>
  </div>
  {{ end }}
</div>