<div class="p-6 mt-12 text-white shadow-md from-black to-indigo-900 bg-gradient-to-tr rounded-xl">
  <span class="text-3xl">Get the website you've always needed. <span
      class="font-bold tracking-wide text-yellow-400">Today.</span></span>
  <div class="text-xl text-right">
    <a style="color: white; text-decoration: none;" class="block transition-all duration-300 hover:font-bold"
      href="/get">Find
      out how &rightarrow;</a>
    <a style="color: white; text-decoration: none;" class="block transition-all duration-300 hover:font-bold"
      href="/estimate">Get
      an estimate
      &rightarrow;</a>
  </div>
</div>