<a style="color: white; text-decoration: none" href="/estimate">
  <div
    class="p-3 text-white transition-transform duration-300 transform hover:-translate-y-0.5 border-2 shadow-md from-black to-indigo-900 bg-gradient-to-tr rounded-xl hover:shadow-lg">
    <div class="flex items-center">
      <div class="w-8 h-8">
        {{ partial "icons/info" .}}
      </div>
      <div class="ml-2 text-xl">
        I'm currently accepting projects, get in touch for an estimate &rightarrow;
      </div>
    </div>
  </div>
</a>