<script type="text/javascript">
  var submitted = false;

  const onSubmit = () => {
    submitted = true;
    let button = document.getElementById('gform-submit');
    console.log('beep');
    button.disabled = true;
    button.value = 'Submitted!'
    button.classList =
      'w-full py-2 text-xl text-center text-yellow-400 transition duration-500 bg-yellow-400 bg-opacity-0 border-2 border-yellow-400 rounded-full shadow-md appearance-none md:w-2/5 md:ml-auto';
  }
</script>

<div style="color: white;" class="text-white rounded-lg shadow-2xl from-black to-indigo-900 bg-gradient-to-tr">

  <div class="mx-auto overflow-hidden shadow-lg">
    <form
      action="https://docs.google.com/forms/d/e/1FAIpQLSdwDnpaw8Wz5D7sEgmP46q1qsZhBoYs74qYkSmOAXOgwIudFg/formResponse?"
      target="hidden_iframe" onsubmit="onSubmit()" name="gfrom" id="gform">
      <div class="p-6 text-5xl leading-snug md:text-3xl">
        <div>
          <span>Hi, Harry. I'm</span>
          <input name="entry.840288726" id="entry.840288726"
            class="inline-block w-full px-4 mt-2 bg-black border border-white rounded-lg appearance-none bg-opacity-20"
            type="text" placeholder="Your name...">
        </div>
        <div class="mt-2">
          Can you get me an estimate for?
        </div>
        <div>
          <textarea name="entry.1713578503" id="entry.1713578503"
            class="w-full p-4 text-lg bg-black border border-white rounded-lg bg-opacity-20" rows="8"
            placeholder="I'm excited to hear about your project! Tell me what your looking for and I'll get back to you."></textarea>
        </div>
        <div class="mt-2">
          <span>You can get hold of me at:</span>
          <input name="entry.881014309" id="entry.881014309"
            class="inline-block w-full px-4 bg-black border border-white rounded-lg appearance-none bg-opacity-20"
            type="text" placeholder="Your email...">
        </div>
        <div>
          <div class="flex justify-center w-full mt-4">
            <input type="submit"
              class="w-full py-2 text-xl text-center text-yellow-400 transition duration-500 bg-yellow-400 bg-opacity-0 border-2 border-yellow-400 rounded-full shadow-md appearance-none md:w-2/5 md:ml-auto hover:text-white hover:bg-opacity-100 hover:shadow-xl"
              Value="Get an estimate." id="gform-submit">
          </div>
        </div>
        <div>
          <div class="mt-8 lg:flex">
            <div class="hidden border-r border-white lg:block lg:w-1/2">
              <span class="text-4xl">Get the website you've always needed.</span>
            </div>
            <div class="text-2xl text-right lg:w-1/2">
              <div class="ml-4">
                <a style="color: white;" href="/get"
                  class="block transition duration-500 transform hover:underline hover:translate-x-2">
                  How it Works. &rightarrow;
                </a>
                <a style="color: white;" href="/articles/free-website-builders-will-cost-you-more/#article-head"
                  class="block mt-4 transition duration-500 transform hover:underline hover:translate-x-2">
                  Why free website builders will cost you thousands. &rightarrow;
                </a>
              </div>
            </div>
          </div>
        </div>
    </form>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
    <div id="cta-bottom"></div>
  </div>
</div>