<div class="px-4 mt-8 text-gray-900">
  <hr class="my-6">
  <div>
    <p class="text-4xl font-extrabold tracking-wide md:text-5xl lg:text-6xl">{{.Title}}</p>
    <p class="mt-4 text-xl text-gray-700">{{.Params.shortDescription}}</p>
  </div>
  <div class="flex items-center mt-4 text-gray-400">
    <div>
      {{ partial "profile" (dict "size" "10")}}
    </div>
    <div class="ml-2 text-xl">
      <span class="font-medium text-gray-600">{{.Params.author}}</span> on
      <span class="font-medium text-gray-600">{{.Date.Format "Jan 2, 2006"}}</span>
    </div>
  </div>
  <div class="mt-3 mb-1 text-sm font-semibold tracking-wider text-gray-700 uppercase">
    {{.ReadingTime}} min read
  </div>
  <hr class="mb-2">
</div>